name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          # Replace 'macayu17' with your Hugging Face username if different
          # Replace 'f1-replay-backend' with your Space name
        run: git push https://macayu17:$HF_TOKEN@huggingface.co/spaces/macayu17/f1-replay-backend main
