name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          # TODO: Update these if your Hugging Face username or Space name is different
          HF_USERNAME: anayush1406
          HF_SPACE_NAME: f1-replay-backend
        run: |
          if [ -z "$HF_TOKEN" ]; then
            echo "Error: HF_TOKEN secret is not set."
            exit 1
          fi
          
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          
          # Force push to overwrite any default files (like README.md) created by Hugging Face
          git push --force https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$HF_SPACE_NAME main
